/* Reset default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f9d58, #0b6e3f);
  color: white;
}

.button_row {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Center everything */
.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

button {
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #0f9d58;
  font-weight: bold;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
  background-color: #0f9d58;
}

.change-color {
  background-color: rgb(177, 177, 177); 
  color: black
}

input {
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

input:focus {
  outline: none;
  border-color: #0f9d58;
  box-shadow: 0 0 5px #0f9d58;
}

.map {
  position:relative;
  width: 100%;
  height: 500px;
  background: lightgreen;
  position: relative;
}

.popup {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.shot-dot {
  position: absolute;
  left: 50%;
  bottom: 0;

  width: 28px;
  height: 28px;
  background: white;
  color: black;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-50%);
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #0f9d58, #0b6e3f);
  color: white;
  font-family: Arial, sans-serif;
}

/* Main content */
#home_screen {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Bottom nav */
#bottom_nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;

  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Icon buttons */
.nav-btn {
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.nav-btn:active {
  transform: scale(0.9);
}